:root {
  --color-primary: 255, 0, 153;
  --text-body: 1.125rem;
  --text-header: 1.65rem;

  --font-body: 'PP Neue Montreal', Avenir, Helvetica, Arial, sans-serif;
  --font-header: 'PP NeueBit', serif;

  font-family: var(--font-body);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::selection {
  background: rgba(var(--color-primary), 0.5);
}

body {
  background-color: rgba(var(--color-primary));
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  background-color: #101010;
  /* this should place the menu about 25% from the top  */
  width: 100%;
  padding: 1.5rem;
}

a {
  text-decoration: none;
  color: #fff;
  transition: color ease 100ms;
  position: relative;
}

a:hover {
  color: rgba(255, 255, 255, 0.5);
}

a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  background: #ffffff;
  transform: translateY(1px);
  transition: all ease 100ms;
  opacity: 1;
}

a:hover::before {
  transform: translateY(3px);
  opacity: 0;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/fonts/PPNeueMontreal-Bold.woff2') format('woff2'),
    url('/fonts/PPNeueMontreal-Bold.woff') format('woff');
  font-style: normal;
  font-stretch: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/fonts/PPNeueMontreal-Medium.woff2') format('woff2'),
    url('/fonts/PPNeueMontreal-Medium.woff') format('woff');
  font-style: normal;
  font-stretch: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'PP NeueBit';
  src: url('/fonts/PPNeueBit-Bold.woff2') format('woff2'),
    url('/fonts/PPNeueBit-Bold.woff') format('woff');
  font-style: normal;
  font-stretch: normal;
  font-weight: 700;
}
