@font-face {
  font-family: 'Haas Grot Text Web';
  src: url('/fonts/NeueHaasGrotText/NeueHaasGrotText-75Bold-Web.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
